# {Tutorial title}

<!-- This is an optional element. Feel free to remove. -->
## Prerequisites

{describe goal to achieve}, provide the following:

- [ ] {requirement 1} ({example of data and format})
- [ ] ...

## {Goal}

Steps:

- [ ] [How-to {step}](/how-to/update-documentation)
- [ ] ...

<!-- This is an optional element. Feel free to remove. -->
## Appendix

### Reference

- [Reference 1](https://diataxis-template.readthedocs.io/en/latest/) ({optional: note for reader})
- ...
