# How to {Task Name, use Verb Noun syntax. e.g. How to Open a can}

This guide will walk you through the steps required to {brief description of the task} in a code repository.

<!-- This is an optional element. Feel free to remove. -->
## Prerequisites

Before you start, make sure you have:

- {Prerequisite 1}
- [Performed {Prerequisite concept 2}](/tutorials/basic-tutorial-tmpl)
- {Additional prerequisites as necessary}

<!-- This is an optional element. Feel free to remove. -->
<!-- This is a repeated element. repeat when necessary. -->
## Step {step nr.}: {Step Title}

{Detailed instructions for step, including any relevant commands, code snippets, or screenshots.}
